@import './_mobile.css';
@import './_sm.css';
@import './_tablet.css';
@import './_lg.css';
@import './_laptop.css';
@import './_desktop.css';
@import './_light.css';
@import './_dark.css';

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
